@import url('./eric-meyer-reset.css');
@import url('./paul-irish-box-sizing.css');
@import url('./modules/reset-lists.css');

html{
	height: 100% ;
}

html, body{
	min-height: 100% ;
	line-height: calc(1em * (16/14)) ;
}
a{
	color: inherit ;
	text-decoration: none ;
	display: inline-block ;
}

nav a{
	min-width: 48px ;
	min-height: 48px ;
	line-height: 48px ;
}
nav li:before{
	content: none ;
}
nav ul{
	list-style: inside none ;
}

h1 > a:first-child,
li > a:first-child
{
	display: block ;
}

code{
	font-family: monospace ;
	white-space: pre ;
	line-height: 2em ;
	max-width: calc(1ch + 80ch + 1ch) ;
	padding: 1ch ;
	display: block ;
	overflow: auto ;
}

*{
	font-size: 1rem ;
}
h1{
	font-size: calc(1rem * (112/14)) ;
}
h2{
	font-size: calc(1rem * (56/14)) ;
}
h3{
	font-size: calc(1rem * (45/14)) ;
}
h4{
	font-size: calc(1rem * (34/14)) ;
}
h5{
	font-size: calc(1rem * (24/14)) ;
}
h6{
	font-size: calc(1rem * (20/14)) ;
}
h1, h2, h3, h4, h5, h6{
	line-height: 1.5em ;
	padding: .25em 0 ;
}
article{
	h1{
		font-size: calc(1rem * (45/14)) ;
	}
	h2{
		font-size: calc(1rem * (34/14)) ;
	}
	h3{
		font-size: calc(1rem * (24/14)) ;
	}
	h4{
		font-size: calc(1rem * (20/14)) ;
	}
	h5{
		font-size: calc(1rem * (16/14)) ;
	}
	h6{
		font-size: 1rem ;
		font-weight: bolder ;
	}
}
