@import url('./modules/skin-fonts.css') ;
@import url('./modules/skin-header-font-size-tweak.css');
@import url('./modules/skin-shadows.css') ;
@import url('./modules/no-flexbox.css');
@import url('./modules/no-boxshadow.css');
@import url('./modules/skin-palette.css') ;
@import url('../../bower_components/prism/themes/prism-coy.css');

a{
  color: var(--dark-primary-color) ;
  font-weight: bolder ;
}

body{
  display: flex ;
  flex-direction: column ;
  font-family: sans-serif ;
  color: var(--primary-text-color) ;
  background-color: var(--light-primary-color) ;
  > *{
    width: 100% ;
    > *{
      width: 100% ;
      max-width: 1280px ;
      margin: auto ;
      padding: 1rem ;
    }
  }
  > header{
    flex: 2 2 auto ;
    align-items: center ;
    display: flex ;
    background-color: var(--dark-primary-color) ;
    flex-direction: column ;
    color: var(--light-primary-color);
    z-index: 2 ;
  }
  > nav,
  > main
  {
    > *{
      background-color: #fff ;
    }
  }
  > nav{
    flex: 1 1 auto ;
    display: flex ;
    width: 100% ;
    max-width: 1280px ;
    margin: auto ;
    z-index: 1 ;
  }
  > main{
    flex: 8 8 auto ;
  }
  > footer{
    flex: 1 1 auto ;
  }
}

:not(pre) > code[class*="language-"]{
  padding: 1ch ;
}

header{
  padding: 1rem ;
  margin-bottom: 1rem ;
  > h1{
    font-family: serif ;
    text-align: center ;
    + p ~ p{
      margin-top: 1em ;
    }
  }
  a{
    color: inherit ;
  }
}

nav > ul{
  display: flex ;
  flex-direction: row ;
  flex: 1 1 auto ;
  align-items: center ;
  > li{
    flex: 1 1 auto ;
    text-align: center ;
    margin: .5em ;
    position: static ;
    &:nth-last-child(1):first-child{
      margin-left: 0 ;
      margin-right: 0 ;
    }
    > a{
      background-color: var(--primary-background-color) ;
      color: var(--primary-text-color) ;
      font-weight: inherit ;
    }
  }
}

footer{
  padding-top: 1rem ;
  margin-top: 1rem ;
  > *{
    padding-left: 1rem ;
    padding-right: 1rem ;
  }
  > nav{
    padding-left: 0 ;
    padding-right: 0 ;
    > ul{
      display: inline-block; ;
      flex: initial ;
      > li{
        flex: initial ;
        display: inline-block ;
        > a{
          padding: 0 .5em ;
        }
      }
    }
  }
}

footer.comments{
  noscript + p{
    display: none ;
  }
}

ol.hfeed{
  > li{
    padding-left: 0 ;
    &:before{
      content: none ;
    }
  }
}

article{
  p ~ p{
    margin-top: 1em ;
  }
  > footer{
    @mixin --shadow-none ;
    margin: 1rem -1em 0 ;
  }
}

@media (max-width: 480px){
  ul{
    list-style: inside disc ;
  }
  ol{
    list-style: inside decimal ;
  }
  ul, ol{
    margin: 1.5em 0 ;
    overflow: auto ;
    > li{
      padding-left: 0 ;
      min-height: 0 ;
      &:before{
        content: none ;
      }
    }
  }
  nav ul{
    margin: inherit ;
  }
}
