*
{
    &,
    &::before,
    &::after
    {
        font: inherit ;
        padding: 0 ;
        margin: 0 ;
        color: inherit ;
        box-sizing: border-box ;
    }
}

:root
{
    --base-font-size: 16 ;
    --base-font-size--rems: calc(1rem * var(--base-font-size)) ;
    --base-header-font-size: 40rem ;
    --base-header-font-size--narrow: 96rem ;
	--article-header-font-size: 24rem ;
	--article-header-font-size--narrow: calc(var(--article-header-font-size) * 2.4) ;
}

[hidden]
{
    display: none ;
}

html
{
    font-size: calc(100vw / 320) ;
    background: #000 ;
    color: #fff ;
    height: 100% ;
    font-family: system-ui, serif ;
    line-height: 1.5 ;
    text-align: left ;

    @media (prefers-color-scheme: light) {
        background: #fff ;
        color: #000 ;
    }

    @media (min-width: 375px)
    {
        font-size: calc(100vw / 375) ;
    }

    @media (min-width: 425px)
    {
        font-size: calc(100vw / 425) ;
    }

    @media (min-width: 768px)
    {
        font-size: calc(100vw / 768) ;
    }

    @media (min-width: 1024px)
    {
        font-size: calc(100vw / 1024) ;
    }

    @media (min-width: 1440px)
    {
        font-size: calc(100vw / 1440) ;
    }

    @media (min-width: 1920px)
    {
        font-size: 1px ;
    }
}

body,
body > header,
body > main > article
{
    padding: .5em ;
}

body
{
    font-size: var(--base-font-size--rems) ;
    min-height: 100% ;
    max-width: 800px ;
    margin: 0 auto ;
}

h1
{
    font-size: calc(var(--base-font-size--rems) + (((var(--base-header-font-size) - var(--base-font-size--rems)) / 6)) * 6) ;

    @media (min-width: 768px)
    {
        font-size: calc(var(--base-font-size--rems) + (((var(--base-header-font-size--narrow) - var(--base-font-size--rems)) / 6)) * 6) ;
    }
}

h2
{
    font-size: calc(var(--base-font-size--rems) + (((var(--base-header-font-size) - var(--base-font-size--rems)) / 6)) * 5) ;

    @media (min-width: 768px)
    {
        font-size: calc(var(--base-font-size--rems) + (((var(--base-header-font-size--narrow) - var(--base-font-size--rems)) / 6)) * 5) ;
    }
}

h3
{
    font-size: calc(var(--base-font-size--rems) + (((var(--base-header-font-size) - var(--base-font-size--rems)) / 6)) * 4) ;

    @media (min-width: 768px)
    {
        font-size: calc(var(--base-font-size--rems) + (((var(--base-header-font-size--narrow) - var(--base-font-size--rems)) / 6)) * 4) ;
    }
}

h4
{
    font-size: calc(var(--base-font-size--rems) + (((var(--base-header-font-size) - var(--base-font-size--rems)) / 6)) * 3) ;

    @media (min-width: 768px)
    {
        font-size: calc(var(--base-font-size--rems) + (((var(--base-header-font-size--narrow) - var(--base-font-size--rems)) / 6)) * 3) ;
    }
}

h5
{
    font-size: calc(var(--base-font-size--rems) + (((var(--base-header-font-size) - var(--base-font-size--rems)) / 6)) * 2) ;

    @media (min-width: 768px)
    {
        font-size: calc(var(--base-font-size--rems) + (((var(--base-header-font-size--narrow) - var(--base-font-size--rems)) / 6)) * 2) ;
    }
}

h6
{
    font-size: calc(var(--base-font-size--rems) + (((var(--base-header-font-size) - var(--base-font-size--rems)) / 6)) * 1) ;

    @media (min-width: 768px)
    {
        font-size: calc(var(--base-font-size--rems) + (((var(--base-header-font-size--narrow) - var(--base-font-size--rems)) / 6)) * 1) ;
    }
}

ul,
ol
{
    list-style-position: inside ;

    @media (min-width:816px)
    {
        list-style-position: outside ;
    }
}

li
{
    > ol,
    > ul
    {
        margin-left: 1em ;
    }
}

td,
th
{
    vertical-align: top ;
}

article
{
    + article
    {
        margin-top: 1em ;
    }

	&.post
	{
		h1
		{
			font-size: calc(var(--base-font-size--rems) + (((var(--article-header-font-size) - var(--base-font-size--rems)) / 6)) * 6) ;
		}

		h2
		{
			font-size: calc(var(--base-font-size--rems) + (((var(--article-header-font-size) - var(--base-font-size--rems)) / 6)) * 5) ;
		}

		h3
		{
			font-size: calc(var(--base-font-size--rems) + (((var(--article-header-font-size) - var(--base-font-size--rems)) / 6)) * 4) ;
		}

		h4
		{
			font-size: calc(var(--base-font-size--rems) + (((var(--article-header-font-size) - var(--base-font-size--rems)) / 6)) * 3) ;
		}

		h5
		{
			font-size: calc(var(--base-font-size--rems) + (((var(--article-header-font-size) - var(--base-font-size--rems)) / 6)) * 2) ;
		}

		h6
		{
			font-size: calc(var(--base-font-size--rems) + (((var(--article-header-font-size) - var(--base-font-size--rems)) / 6)) * 1) ;
		}
	}

    h1
    {
        font-size: calc(var(--base-font-size--rems) + (((var(--base-header-font-size) - var(--base-font-size--rems)) / 6)) * 6) ;
    }

    h2
    {
        font-size: calc(var(--base-font-size--rems) + (((var(--base-header-font-size) - var(--base-font-size--rems)) / 6)) * 5) ;
    }

    h3
    {
        font-size: calc(var(--base-font-size--rems) + (((var(--base-header-font-size) - var(--base-font-size--rems)) / 6)) * 4) ;
    }

    h4
    {
        font-size: calc(var(--base-font-size--rems) + (((var(--base-header-font-size) - var(--base-font-size--rems)) / 6)) * 3) ;
    }

    h5
    {
        font-size: calc(var(--base-font-size--rems) + (((var(--base-header-font-size) - var(--base-font-size--rems)) / 6)) * 2) ;
    }

    h6
    {
        font-size: calc(var(--base-font-size--rems) + (((var(--base-header-font-size) - var(--base-font-size--rems)) / 6)) * 1) ;
    }
}

img
{
    max-width: 100% ;
}
