.no-flexbox{
  body{
    &,
    > header,
    > nav,
    > main,
    > footer,
    {
      flex-direction: initial ;
      align-items: initial ;
      display: block ;
    }
    > header,
    > nav,
    > main,
    > footer,
    nav > ul > li
    {
      flex: initial ;
    }
    > nav{
      display: block ;
    }
  }
  nav > ul{
    flex-direction: initial ;
    align-items: initial ;
    display: table ;
    width: 100% ;
    > li{
      display: table-cell ;
    }
  }
}
