---
layout: default
---
<article>
  <header>
    <h1>{{ page.title }}</h1>
  </header>
  <section>{{ content }}</section>
{% if page.comments %}
  <foooter class="comments">
    <section
      id="disqus_thread"
    >
      <noscript>
        Please enable JavaScript to view the
        <a
          href="https://disqus.com/?ref_noscript"
          rel="nofollow"
        >comments powered by Disqus.</a>
      </noscript>
      <p>Loading comments via Disqus&hellip;</p>
    </section>
  </footer>
{% endif %}
</article>
